* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* =============primary======== */
  --mainColor: #01a1c1;

  /* =========secondary============ */
  --fontColor: #b23b23;
  --SecondColor: #e45613;

  /* ============fonts related========== */
  --textfont: #332d39;
  --fontSansSerif: "PT Sans", sans-serif;
  --fontSerif: "Merriweather", serif;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}
.nav-bar {
  height: 10vh;
  width: 100vw;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}
/* ============logo=============== */
.logo {
  width: 90px;
  margin-left: 20px;
  z-index: 999;
}
/* ==============links container======== */
.links-container {
  position: absolute;
  width: 100vw;
  background-color: whitesmoke;
  display: flex;
  transform: translateY(-200%);
  align-items: center;
  justify-content: center;
  top: 10vh;
  border-top: 1px solid var(--mainColor);
  transition: 300ms ease-in;
  z-index: 100;
}
/* ==============link for mobile margin top==== */
.link {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

/* ===========links for mobile===== */
.link a {
  font-family: var(--fontSansSerif);
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--textfont);
  margin-top: 40px;
  gap: 5px;
}

/* =============toggle menu ========== */
.toggle-btn {
  display: flex;
  align-items: flex-end;

  justify-content: center;
  flex-direction: column;
  width: 30px;
  height: 40px;
  gap: 4px;
  margin-right: 20px;
  transition: 300ms ease-in;
  cursor: pointer;
}

.line {
  height: 2px;
  background-color: var(--mainColor);
  border-radius: 10px;
  transition: 300ms ease-in;
}
.line-one {
  width: 20px;
}
.line-two {
  width: 15px;
  transition: 2000ms ease-in;
}
.line-three {
  width: 20px;
}
/* ================end of line============ */

/* =============intro section ============= */
.intro-section {
  width: 100vw;
  min-height: 90vh;
  background-image: url(./wp.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */

  flex-direction: column;
}

.question-text {
  width: 250px;
  letter-spacing: 1.2px;
  line-height: 35px;
  justify-self: start;
  margin-top: 20px;
  text-align: start;
  text-transform: capitalize;
  font-family: var(--fontSansSerif);
  font-weight: 400;
  color: var(--mainColor);
}
.name {
  margin-top: 10px;
  transform: translateX(200%);
  transition: 500ms ease-in;
}
.question {
  transform: translateX(-200%);
  transition: 500ms ease-in;
}
.highlight {
  font-family: var(--fontSerif);
  font-size: 20px;
  font-weight: 700;
  font-style: italic;
  color: whitesmoke;
  transition: 300ms ease-in;
}

/* =========section roadmap================= */
.roadmap {
  min-height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to bottom, #020f1f, #022f59);
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.roadmap-header {
  width: 200px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 20px;
  cursor: pointer;
}
.border-line {
  height: 2px;

  width: 50px;
  background-color: var(--mainColor);
  transition: 300ms ease-in;
}
.roadmap-header span {
  background-color: var(--mainColor);
}

.roadmap-header h1 {
  font-family: var(--fontSerif);
  font-weight: 700;
  letter-spacing: 2px;
  color: white;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 3px;
}
/* ================start date ========= */
.dates {
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dates p {
  font-family: var(--fontSansSerif);
  font-style: italic;

  color: var(--mainColor);
  font-size: 12px;
  text-transform: capitalize;
}
.start-date {
  border-bottom: 1px solid whitesmoke;
}
.start-date span {
  font-size: 15px;
}
.total-hours {
  border-bottom: 1px solid whitesmoke;
}
.total-hours span {
  font-size: 15px;
}
/* ==============rodamap global route============ */
.route {
  width: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  cursor: pointer;
  border: none;
}
.light {
  position: absolute;
  height: 0px;
  width: 2px;
  background-color: #3dc4e6;
  transition: 500ms ease-in;
  box-shadow: 1px 1px 10px white;
}
.branch {
  height: 20px;

  width: 2px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  cursor: pointer;
}
.branch-light {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 0px;
  width: 4px;
  background-color: #3dc4e6;
  transition: 200ms ease-in;
  box-shadow: 1px 1px 10px white;
}
.circle {
  position: absolute;
  opacity: 0.3;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid white;
  box-shadow: 1px 1px 10px gray;
}
.install {
  font-size: 8px;
  font-family: var(--fontSansSerif);
  color: var(--mainColor);
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  opacity: 0;
}
.text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  font-family: var(--fontSerif);
  font-size: 20px;
  font-weight: 500;
  color: white;
}
/* ===================main route========== */
.main-route {
  position: relative;
  height: 450px;
}
.inside-light {
  position: absolute;
  height: 0px;
  width: 2px;
  background-color: #3dc4e6;

  box-shadow: 1px 1px 10px white;
  transition: 1000ms ease-in;
}

/* ============start of figma============== */
.figma-route {
  position: absolute;
  align-items: flex-end;
  height: 100px;

  transform: rotate(90deg);
  margin-top: 180px;
  margin-left: 102px;
}

.figma-install {
  position: absolute;

  left: -75px;
  transform: rotate(-90deg);
  top: -10px;
  width: 100px;
}
/* =================figma branch======== */
.figma-branch {
  position: absolute;
  margin-left: 200px;
  margin-top: 211.5px;
}
.figma-branch-light {
  align-self: flex-end;
  height: 0px;
}

.figma-circle {
  top: 0;
  margin-top: -5px;
}
.figma-text {
  position: absolute;
  left: -100px;
  transform: rotate(-90deg);
  top: 0;
  width: 100px;
}
.figma-text img {
  width: 20px;
}

/* ===============html route ============= */
.html-route {
  position: absolute;
  align-items: flex-end;
  height: 100px;

  transform: rotate(-90deg);
  margin-top: 230.5px;
  margin-right: 102.028px;
}

/* ===================html branch============ */
.html-branch {
  position: absolute;
  justify-content: flex-start;

  margin-top: 261.5px;
  margin-right: 205px;
}

.html-branch-light {
  align-self: flex-end;
}

.html-circle {
  top: 0;
  margin-top: -5px;
}
.html-text {
  position: absolute;
  top: -20px;
  transform: rotate(90deg);
  left: 10px;
  width: 100px;
}

.html-text i {
  color: #ed632d;
}
.html-install {
  position: absolute;
  left: -15px;
  transform: rotate(90deg);
  top: -10px;
  width: 100px;
}
/* ===================end of html branch ======= */

/* =============start of css route ===== */
.css-route {
  position: absolute;
  align-items: flex-end;
  height: 100px;

  transform: rotate(90deg);
  margin-top: 280px;
  margin-left: 102px;
}

/* =================css branch======== */
.css-branch {
  position: absolute;
  margin-left: 200px;
  margin-top: 311.5px;
}
.css-branch-light {
  align-self: flex-end;
}

.css-circle {
  top: 0;
  margin-top: -5px;
}
.css-text {
  position: absolute;
  left: -100px;
  transform: rotate(-90deg);
  top: 0;
  width: 100px;
}
.css-text i {
  color: #146cac;
}
.css-install {
  position: absolute;
  left: -80px;
  transform: rotate(-90deg);
  top: -10px;
  width: 100px;
}
/* =================end of CSS========== */
/* ===============js route ============= */
.js-route {
  position: absolute;
  align-items: flex-end;
  height: 100px;

  transform: rotate(-90deg);
  margin-top: 350.5px;
  margin-right: 102.028px;
}

/* ===================js branch============ */
.js-branch {
  position: absolute;
  transform: rotate(180deg);
  margin-top: 399px;
  margin-right: 201px;
}

.js-branch-light {
  align-self: flex-end;
}

.js-circle {
  top: 0;
  margin-top: -5px;
}
.js-text {
  position: absolute;
  left: -100px;
  transform: rotate(90deg);
  top: -10px;
  width: 100px;
}
.js-text i {
  color: #ebd619;
}
.js-install {
  position: absolute;
  font-size: 8px;
  left: -125px;
  transform: rotate(90deg);
  top: 0px;
  width: 100px;
}
/* ===============END OF JS============= */
/* =============start of react route ===== */
.react-route {
  position: absolute;
  align-items: flex-end;
  height: 100px;

  transform: rotate(90deg);
  margin-top: 400px;
  margin-left: 102px;
}

/* =================react branch======== */
.react-branch {
  position: absolute;
  margin-left: 200px;
  margin-top: 439px;
}
.react-branch-light {
  align-self: flex-end;
  border-radius: 0px 0px 10px 10px;
}

.react-circle {
  margin-bottom: -5px;
  bottom: 0;
}
.react-text {
  position: absolute;
  left: 0px;
  transform: rotate(-90deg);
  top: 0;
  width: 100px;
}
.react-text i {
  color: #61dbfb;
}
.react-install {
  position: absolute;
  font-size: 8px;

  text-align: center;
  left: 20px;
  transform: rotate(-90deg);
  top: -10px;
  width: 100px;
}
/* ===============end of react================== */
.brain {
  width: 150px;
  opacity: 0.2;
  transition: 500ms ease-in;
}
/* ==================== project section========= */

.projects {
  height: 100vh;
  width: 100vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* ======================about me section======== */
.about-me {
  min-height: 90vh;
  width: 100vw;
  background-image: linear-gradient(to bottom, #020f1f, #022f59);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.aboutMe-header {
  width: 200px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 20px;
  cursor: pointer;
}
.border-line {
  height: 2px;
  width: 50px;
  background-color: var(--mainColor);
  transition: 300ms ease-in;
  border-radius: 10px;
}

.aboutMe-header h1 {
  font-family: var(--fontSerif);
  font-weight: 700;
  letter-spacing: 2px;
  color: white;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 3px;
}

/* ======================about me section======== */
.projects {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.projects-header {
  width: 200px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 20px;
  cursor: pointer;
}
.border-line {
  height: 2px;
  width: 50px;
  background-color: var(--textfont);
  transition: 300ms ease-in;
  border-radius: 10px;
}

.projects-header h1 {
  font-family: var(--fontSerif);
  font-weight: 700;
  letter-spacing: 2px;
  color: var(--mainColor);
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 3px;
}

/* =================go to top  btn========= */
.toTop-btn {
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background: var(--mainColor);
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 5px;
  color: white;
  animation: bounce 2s ease-in-out infinite;
  visibility: hidden;
}

/* ===============MEDIA QUREY================= */
/* ==============galaxy ford font and roamap */
@media (max-width: 280px) {
  .start-date {
    font-size: 5px;
    border: none;
  }
  .total-hours {
    font-size: 5px;
    border: none;
  }
  .total-hours span {
    font-size: 10px;
    border: none;
  }
  .html-text {
    top: 0;
  }
  .html-install {
    top: 0;
  }
  .start-date span {
    font-size: 10px;
    border: none;
  }
  .text {
    font-size: 13px;
  }
  .install {
    font-size: 6px;
  }
  .brain {
    margin-top: 30px;
    width: 100px;
  }
}

/* =============750px+ view=============== */
@media only screen and (min-width: 750px) {
  /* =========btn================ */

  .toggle-btn {
    display: none;
  }
  .links-container {
    top: 0;
    border: none;
    position: static;
    width: 70vw;
    display: flex;
    transform: translateY(0);
  }
  .nav-links {
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  ul {
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-right: 30px;
  }
  .link {
    display: flex;

    margin-bottom: 0;
    flex-direction: row;
    margin-left: 10px;
  }
  .link a {
    margin-top: 0;
  }

  /* ==============section intro ========== */
  .intro-section {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .question-text {
    text-align: center;
    align-self: flex-start;
    /* margin-left: 140px; */
    width: 100vw;
  }
  .highlight {
    font-size: 24px;
  }
  .name {
    transition: 500ms ease-in;
  }
  .question {
    transition: 500ms ease-in;
  }
  .dates {
    width: 50vw;
  }
}

/* =================ipads sections height adjustement */
@media (max-width: 912px) and (min-width: 750px) {
  .intro-section {
    min-height: 70vh;
  }
  .roadmap {
    min-height: 70vh;
  }
  .projects {
    min-height: 70vh;
  }
  .about-me {
    min-height: 90vh;
  }
}

/* ==========hovers ============= */
.toggle:hover {
  opacity: 0.5;
}
.link a:hover {
  color: var(--mainColor);
}
.highlight:hover {
  color: var(--SecondColor);
}
.roadmap-header h1:hover + .border-line {
  width: 190px;
}
.aboutMe-header h1:hover + .border-line {
  width: 150px;
}
.projects-header h1:hover + .border-line {
  width: 140px;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

/* =============js class============== */

.toggle-rotate {
  transform: rotate(-90deg);
}
.line-slide {
  align-self: flex-start;
}

.show-links {
  transform: translateY(0);
}
.fixed-nav {
  position: fixed;
  top: 0;
  box-shadow: var(--textfont);
}
.translate {
  transform: translateX(0);
}
.show-text {
  opacity: 1;
}
.show-btn {
  visibility: visible;
}
.drive {
  height: 450px;
}
.corner {
  height: 100px;
}
.park {
  height: 10px;
}
.enter {
  opacity: 1;
}
